[submodule "gitlab-downloader-sources/src/app/external/fluent"]
	path = gitlab-downloader-sources/src/app/external/fluent
	url = https://github.com/zhuzichu520/FluentUI
[submodule "gitlab-downloader-sources/test/external/gtest"]
	path = gitlab-downloader-sources/test/external/gtest
	url = https://github.com/google/googletest.git
[submodule "gitlab-downloader-sources/external/cutelogger6"]
	path = gitlab-downloader-sources/external/cutelogger6
	url = https://github.com/bluebrother/CuteLogger.git
